.container {
    .row {
        height: 6rem;
        .img_container {
            .item_img {
                width: 6rem;
                height: 6rem;
            }
        }
        
        .col {
            h4 {
                font-size: large;
            }

        }
    }
}
// .container {
//     .cartItem {
//         display: grid;
//         grid-template-columns: repeat(5, 1fr);
//         grid-template-rows: 1fr;
//         gap: 3px 0px;
//         grid-auto-flow: row;
//         justify-items: stretch;
//         grid-template-areas:
//           "item_image item_details item_price item_quantity item_sub_total";
//       }

//       .item_image {
//         grid-area: item_image;
//         width: 6rem;
//     }

//       .item_details { grid-area: item_details; }

//       .item_price { grid-area: item_price; }

//       .item_quantity { grid-area: item_quantity; }

//       .item_sub_total { grid-area: item_sub_total; }
// }