.items_on_cart {
    
    .row {
        height: 5.5rem;
        &:first-child {
            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
            height: 2rem;
        }
        .img_container {
            .item_img {
                width: 5.5rem;
                height: 5.5rem;
            }
        }

        .col {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            &:not(:nth-child(2)) {
                justify-content: center;
            }
            h4 {
                font-size: large;
                text-transform: uppercase;
            }
        }
    }
}