.container {
    .checkOut {
        width: $items_container_vw;
        height: 100%;

        @media only screen and (max-width: 1400px) {
            width: 100vw;
        }

        @media only screen and (max-width: 769px) {
            align-items: center;
        }

        .cartList{
            width: 100%;
        }

        .orderDetail {
            width: 32vw;
            margin: 1rem;
            border: 1px solid #D9D9D9;

            @media only screen and (max-width: 769px) {
                width: 90vw;
            }

            h2 {
                font-size: x-large;
            }

            .title{
                background-color: #D9D9D9;
                width: 100%;
                text-align: left;
            }

            .btn {
                border: 0;
                width: 92%;
                background-color: $JBL_color;
                box-shadow: inset 0px 0px 19px 0px #cc2900;
            }
        }
    }
}