.catalogue_container {
    width: 100%;

    .banner_container {
        margin-bottom: 1rem;
        width: 100%;
    }

    .type_container {
        width: 90%;
        border-bottom: 1rem;

        .title {
            .btn_title {
                font-size: medium;
                width: 15rem;
                font-family: "Michroma", sans-serif;
                background-color: $JBL_color;
                border: 2px solid $JBL_color;

                &:hover {
                    background-color: black;
                }
            }
        }

        .collapse {
            border: 1px solid $JBL_color;
            border-radius: .5rem;
        }

        .cards_container {

            margin-bottom: 1rem;
        }
    }
}