.catalogue_container {
    .type_container {
        width: $items_container_vw;

        .banner_container {
            width: 100vw;

            img {
                width: 72rem;
            }
        }

        .title_container {
            width: 30vw;

            .banner {
                width: $desktop_width_items;
            }

        }

        .product_container {
            width: $desktop_width_items;
        }

    }
}