.catalogue_container {
    .type_container {
        width: $items_container_vw;

        .banner_container {
            background-color: black;
            width: 100vw;
            display: flex;
            justify-content: flex-end;
            img {
                width: 72rem;
            }
        }

        .title_container {
            width: $desktop_width_items;
            .banner {
                width: $desktop_width_items;
            }

        }

        .product_container {
            width: $desktop_width_items;
        }

    }
}