.catalogue_container {
    width: 100%;

    .type_container {
        width: 90%;

        .banner_container {
            width: 100%;

            img {
                width: 72rem;
            }
        }

        .title_container {
            width: 30vw;

            .banner {
                width: $desktop_width_items;
            }

        }

        .product_container {
            width: $desktop_width_items;
        }

    }
}