.catalogue_container {
    .type_container {
        width: $items_container_vw;

        .category_title {
            color: white;
            background-color: $JBL_color;
            height: 2rem;
            line-height: 2rem;
            font-size: x-large;
            width: 100%;
            text-align: left;
            font-family: $MichromaFont;
            text-transform: uppercase;
        }

        .banner {
            width: 100%;
        }

        .prod_container {
            width: 66vw;
        }

    }
}