.catalogue_container {
    .type_container {
        width: $items_container_vw;

        .banner_container {
            background-color: #FA4517;
            width: 100vw;
        }

        .title_container {
            width: $desktop_width_items;
            .banner {
                width: $desktop_width_items;
            }

        }

        .product_container {
            width: $desktop_width_items;
        }

    }
}