.item_conainer {
    width: 100%;
    padding: .5rem;

    .product {
        width: 100%;
        border: 1px solid #EBEDEE;

        .product_images {
            width: 100%;

            @media only screen and (max-width: 1020px) {
                width: 50%;
            }

            .img_primary {
                width: 400px;

                @media only screen and (max-width: 1020px) {
                    width: 300px;
                }
            }
        }

        .product_details {
            padding: 1.5rem;
            background-color: #F7F9FA;
            height: 100%;

            .title {
                text-transform: uppercase;
                font-size: xx-large;
                font-weight: bold;
                letter-spacing: .1rem;
            }

            .price {
                color: $JBL_color;
                font-size: xx-large;
                letter-spacing: .1rem;
                font-weight: bold;
            }

            .description {
                height: 3rem;
                font-size: x-large;
                font-weight: lighter;

                @media only screen and (max-width: 425px) {
                    font-size: large;
                    text-align: left;
                }
            }

            .stock_0 {
                text-transform: uppercase;
                font-size: xx-large;
                text-shadow: 0px -.5px .5px $JBL_color;
            }

            .offer {
                height: 4rem;
                font-size: x-large;
                font-weight: lighter;
                
                @media only screen and (max-width: 425px) {
                    font-size: large;
                    text-align: left;
                }
            }
        }
    }

    .product_description {
        padding-left: 2rem;
        width: 100%;

        @media only screen and (max-width: 620px) {
            padding: .5rem;
        }

        .img_product_secondary {
            max-width: 26rem;

            @media only screen and (max-width: 1024px) {
                max-width: 18rem;
            }

            @media only screen and (max-width: 768px) {
                max-width: 16rem;
            }
        }

        .description {
            text-align: justify;
            padding-right: 10rem;

            @media only screen and (max-width: 1024px) {
                padding-right: 2rem;
            }

            @media only screen and (max-width: 768px) {
                padding-right: 1rem;
            }

            @media only screen and (max-width: 620px) {
                padding: 0;
            }

            h3 {
                margin-top: 1rem;
                text-transform: uppercase;
                text-align: left;
            }

            p {
                font-size: x-large;
                font-weight: lighter;

                @media only screen and (max-width: 768px) {
                    font-size: large;
                }
            }
        }

    }
}