.col {
    .product_card {
        height: 30rem;
        width: 17rem;
        border-radius: 0;

        &:hover {
            box-shadow: 0 0 9px 2px rgba(119, 64, 0, 0.466);
        }

        .card-body {
            align-items: center;

            .hidden_button {
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .visible_button {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .title {
                font-size: x-large;
                font-weight: bold;
                letter-spacing: .1rem;
            }

            .price {
                color: $JBL_color;
                letter-spacing: .1rem;
                font-weight: bold;
            }

            .description {
                height: 2.5rem;
            }
        }
    }
}