.product_card {
    width: 14rem;
    margin: .6rem;
    border: 0;
    box-shadow: 0px 0px 5px 0px #000000bf;

    &:hover {
        box-shadow: 0px 0px 15px 0px #000000bf;
    }

    .card-body {
        .title {
            font-weight: 400;
            height: 2.2rem;
        }

        .description_container {
            font-weight: 300;
            display: grid;
            place-items: center;
            text-align: center;
            height: 4rem;
        }
    }

    ul {
        .price {
            color: $JBL_color;
            font-weight: bold;
            font-size: larger;
        }
    }
}