.navbar {
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    background-color: black !important;

    #cart_widget_container {
        margin-right: 2.5rem;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        .nav_logo {
            width: 4rem;
            margin-right: 2rem;
        }

        .toggle_and_cart {
            #cart_widget_container {
                margin-right: 1.5rem;
            }

            .navbar-toggler {
                margin-right: 1rem;
                box-shadow: none;
                border-color: white;
            }
        }

        .collapse {
            background-color: black !important;

            .navbar-nav {
                .nav-item {
                    display: flex;
                    align-items: center;
                    font-size: large;
                    height: 4rem;

                    &:not(:first-child) {
                        margin-left: 1.5rem;
                    }

                    .nav-link {
                        margin: 0;
                        padding: 0;
                        height: 4rem;
                        line-height: 4rem;
                    }

                    .active_link {
                        color: #FF3300;
                        font-weight: bold;
                        border-bottom: 4px solid #FF3300;
                    }
                }
            }
        }

    }
}