#empty_cart {
    background: linear-gradient(270deg, #ffffff 0%, #e95d0017 51%, #ffffff 100%);
    // border: 1px solid grey;
    padding-bottom: 1rem;
    
    h1 {
        padding: 1rem;
        color: $JBL_color;
    }
}