@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

.navbar {
  margin: 0;
  padding: 0; }
  .navbar .container-fluid {
    background-color: #171D25; }
    .navbar .container-fluid .navbar-toggler {
      width: 3rem;
      height: 2.5rem;
      background-color: black;
      color: white; }
    .navbar .container-fluid .navLogo img {
      width: 25rem; }
    .navbar .container-fluid .collapse {
      justify-content: space-between; }
      .navbar .container-fluid .collapse .navbar-nav {
        align-items: center; }
        .navbar .container-fluid .collapse .navbar-nav .dropdown .dropdown-menu {
          background-color: black;
          width: 15rem; }
          .navbar .container-fluid .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-li {
            height: 1.8rem; }
            .navbar .container-fluid .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-li a {
              padding-left: 1rem;
              font-weight: normal; }
              .navbar .container-fluid .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-li a:hover {
                background: linear-gradient(to right, #a80000, #171d2500);
                color: white; }
        .navbar .container-fluid .collapse .navbar-nav .nav-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 6rem;
          width: 6rem;
          text-align: center; }
          .navbar .container-fluid .collapse .navbar-nav .nav-item:not(:last-child) {
            margin-right: 2rem; }
          .navbar .container-fluid .collapse .navbar-nav .nav-item:hover:not(:last-child) {
            background: linear-gradient(to top, #171d25c0, #171d25c0), url("/public/img/navbar/gow-icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; }
          .navbar .container-fluid .collapse .navbar-nav .nav-item a {
            color: white;
            text-transform: uppercase;
            padding: 0;
            margin: 0; }
            .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
              color: red;
              font-weight: bold;
              transition: .5s; }
          .navbar .container-fluid .collapse .navbar-nav .nav-item .active {
            color: red;
            font-weight: bold; }
  .navbar .d-flex {
    width: 20rem; }
    .navbar .d-flex .form-control {
      background-color: black;
      text-transform: uppercase; }
      .navbar .d-flex .form-control::placeholder {
        color: white; }
    .navbar .d-flex input {
      box-shadow: none; }
    .navbar .d-flex .btn {
      background-color: #1e324b;
      border: 1px solid white;
      text-transform: uppercase;
      color: white; }
      .navbar .d-flex .btn:hover {
        background-color: red;
        font-weight: bold; }

#cartContainer {
  background-image: url("/public/img/cartWidget/cart-shopping-solid.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 47%;
  background-color: #1e324b;
  display: flex;
  justify-content: flex-end;
  border-radius: 2rem;
  text-align: center;
  width: 5rem;
  height: 3rem;
  color: white; }
  #cartContainer:hover {
    background-image: url("/public/img/cartWidget/cart-shopping-solid-yellow.svg"); }
  #cartContainer img {
    width: 2rem;
    margin-right: .6rem; }
  #cartContainer p {
    background-color: red;
    border-radius: 10rem;
    height: min-content;
    width: 1rem;
    font-weight: bold; }

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000000; }
  .header-section img {
    width: 1.5rem;
    margin-right: .5rem; }
  .header-section h4 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: .5rem;
    margin: 0; }

.homePage {
  width: 100vw;
  height: 85.2vh;
  background-image: url("/public/img/gow-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.catalogue {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white; }
  .catalogue h1 {
    margin: .5rem;
    font-size: xx-large;
    text-transform: uppercase; }
  .catalogue .gamesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .catalogue .gamesContainer .card {
      color: white;
      width: 22rem;
      margin: 1rem;
      border: 1px solid white; }
      .catalogue .gamesContainer .card img {
        width: 21.9rem;
        height: 26rem; }
