@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Oswald:wght@200..700&display=swap");
* {
  font-family: "Oswald", sans-serif;
  font-size: large;
  margin: 0;
  padding: 0; }

.flex_row_center {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center; }

.flex_col_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center; }

.flex_start_col {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start; }

.flex_start_row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start; }

.flex_spc_btween {
  display: flex;
  justify-content: space-between; }

.cursor_pointer {
  cursor: pointer; }

.navbar {
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;
  background-color: black !important; }
  .navbar #cart_widget_container {
    margin-right: 2.5rem; }
  .navbar .container-fluid {
    padding: 0;
    margin: 0;
    text-transform: uppercase; }
    .navbar .container-fluid .nav_logo {
      width: 4rem;
      margin-right: 2rem; }
    .navbar .container-fluid .toggle_and_cart #cart_widget_container {
      margin-right: 1.5rem; }
    .navbar .container-fluid .toggle_and_cart .navbar-toggler {
      margin-right: 1rem;
      box-shadow: none;
      border-color: white; }
    .navbar .container-fluid .collapse {
      background-color: black !important; }
      .navbar .container-fluid .collapse .navbar-nav .nav-item {
        display: flex;
        align-items: center;
        font-size: large;
        height: 4rem; }
        .navbar .container-fluid .collapse .navbar-nav .nav-item:not(:first-child) {
          margin-left: 1.5rem; }
        .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
          margin: 0;
          padding: 0;
          height: 4rem;
          line-height: 4rem; }
        .navbar .container-fluid .collapse .navbar-nav .nav-item .active_link {
          color: #FF3300;
          font-weight: bold;
          border-bottom: 4px solid #FF3300; }

.header_section {
  background-color: #2a2a2a;
  border-bottom: 1px solid #FF3301; }
  .header_section img {
    width: 1.5rem;
    margin-right: .5rem; }
  .header_section h4 {
    font-weight: lighter;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: .5rem;
    margin: 0; }

.homePage {
  min-height: 85vw;
  justify-content: flex-start; }
  .homePage #carouselHomePage {
    width: 70vw;
    height: auto; }
    .homePage #carouselHomePage .carousel-indicators button {
      width: 5rem;
      height: .15rem; }
    .homePage #carouselHomePage .carousel-item .slide {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 5rem;
      color: white; }
    .homePage #carouselHomePage .carousel_slide_button {
      width: 5%; }
    .homePage #carouselHomePage .most_viewed {
      margin: .5rem;
      display: flex;
      justify-content: center;
      align-items: center; }

.col .product_card {
  height: 30rem;
  width: 17rem;
  border-radius: 0; }
  .col .product_card:hover {
    box-shadow: 0 0 9px 2px rgba(119, 64, 0, 0.466); }
  .col .product_card .card-body {
    align-items: center; }
    .col .product_card .card-body .title {
      font-size: x-large;
      font-weight: bold;
      letter-spacing: .1rem; }
    .col .product_card .card-body .price {
      color: #FF3301;
      letter-spacing: .1rem;
      font-weight: bold; }
    .col .product_card .card-body .description {
      height: 2.5rem; }

.catalogue_container .type_container {
  width: 85vw; }
  .catalogue_container .type_container .banner_container {
    background-color: #FA4517;
    width: 100vw; }
  .catalogue_container .type_container .title_container {
    width: 70vw; }
    .catalogue_container .type_container .title_container .banner {
      width: 70vw; }
  .catalogue_container .type_container .product_container {
    width: 70vw; }

.item_conainer {
  width: 100%;
  padding: .5rem; }
  .item_conainer .product {
    width: 65vw;
    height: 26rem;
    border: 1px solid #EBEDEE; }
    .item_conainer .product .product_details {
      padding: 1.5rem;
      background-color: #F7F9FA;
      height: 100%; }
      .item_conainer .product .product_details .p_title {
        text-transform: uppercase;
        font-size: xx-large;
        font-weight: bold;
        letter-spacing: .1rem; }
      .item_conainer .product .product_details .p_price {
        color: #FF3301;
        font-size: xx-large;
        letter-spacing: .1rem;
        font-weight: bold; }
      .item_conainer .product .product_details .p_description {
        height: 2rem;
        font-size: x-large;
        font-weight: lighter; }
      .item_conainer .product .product_details .p_offer {
        height: 2rem;
        font-size: x-large;
        font-weight: lighter; }

.container .checkOut {
  width: 85vw;
  height: 100%; }
  .container .checkOut .cartList {
    width: 100%; }
  .container .checkOut .orderDetail {
    width: 32vw;
    margin: 1rem;
    border: 1px solid #D9D9D9; }
    .container .checkOut .orderDetail h2 {
      font-size: x-large; }
    .container .checkOut .orderDetail .title {
      background-color: #D9D9D9;
      width: 100%;
      text-align: left; }
    .container .checkOut .orderDetail .btn {
      border: 0;
      width: 92%;
      background-color: #FF3301;
      box-shadow: inset 0px 0px 19px 0px #cc2900; }

.items_on_cart .row {
  height: 5.5rem; }
  .items_on_cart .row:first-child {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    height: 2rem; }
  .items_on_cart .row .img_container .item_img {
    width: 5.5rem;
    height: 5.5rem; }
  .items_on_cart .row .col {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0; }
    .items_on_cart .row .col:not(:nth-child(2)) {
      justify-content: center; }
    .items_on_cart .row .col h4 {
      font-size: large;
      text-transform: uppercase; }

.buy_btn {
  margin-right: .4rem; }
  .buy_btn img {
    margin-bottom: .2rem;
    margin-right: .4rem; }

.category_title {
  color: white;
  background-color: #FF3301;
  box-shadow: inset 0px 0px 19px 0px #cc2900;
  border-radius: 10rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: x-large;
  width: 100%;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase; }
