#cartContainer {
    background-image: url('/public/img/cartWidget/cart-shopping-solid.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 47%;
    background-color: $navSecondaryColor;
    display: flex;
    justify-content: flex-end;
    border-radius: 2rem;
    text-align: center;
    width: 5rem;
    height: 3rem;
    color: white;
        &:hover {
            background-image: url('/public/img/cartWidget/cart-shopping-solid-yellow.svg');
        }
    img {
        width: 2rem;
        margin-right: .6rem;
    }
    p {
        background-color: rgb(255, 0, 0);
        border-radius: 10rem;
        height: min-content;
        width: 1rem;
        font-weight: bold;
    }

}