.category_title {
    color: white;
    background-color: $JBL_color;
    box-shadow: inset 0px 0px 19px 0px #cc2900;
    border-radius: 10rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: x-large;
    width: 100%;
    font-family: $MichromaFont;
    text-transform: uppercase;
}